@import "tailwindcss";

@plugin "@tailwindcss/forms";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* root colors */
  --background-app-rgb: #ffffff;
  --color-primary-900: #4a6dff;
  --color-primary-800: #5c7cff;
  --color-primary-700: #6e8aff;
  --color-primary-600: #8099ff;
  --color-primary-500: #92a7ff;
  --color-primary-400: #a4b6ff;
  --color-primary-300: #b7c5ff;
  --color-primary-200: #c9d3ff;
  --color-primary-100: #dbe2ff;
  --color-primary-50: #e4e9ff;

  --color-secondary-900: #111827;
  --color-secondary-800: #1f2937;
  --color-secondary-700: #374151;
  --color-secondary-600: #4b5563;
  --color-secondary-500: #6b7280;
  --color-secondary-400: #9ca3af;
  --color-secondary-300: #d1d5db;
  --color-secondary-200: #e5e7eb;
  --color-secondary-100: #f3f4f6;
  --color-secondary-50: #f9fafb;
  --color-secondary-0: #ffffff;

  --color-success: #00c073;
  --color-warning: #ff9900;
  --color-error: #ff4757;
  --color-red-500: #ef4444;
  --color-red-300: #fca5a5;

  /* Break points */
  --breakpoint-xg: 1080px;
  --breakpoint-xx: 970px;
  --breakpoint-ww: 630px;
  --breakpoint-mm: 548px;
  --breakpoint-rr: 375px;
  --breakpoint-ss: 290px;

  /* costum font */
  --font-vazir: "Vazirmatn";
  --font-inter: "Inter", "Vazirmatn";
}

@layer {
  .brandLogo__text {
    @apply flex items-center justify-center gap-x-1 text-center font-bold font-vazir  text-[40px] text-blue-600;
  }

  .numberInput {
    @apply py-3 px-4 rounded-xl font-normal font-inter  text-secondary-600 w-full outline-none border-[1px] focus:shadow-sm focus:shadow-primary-300 border-transparent hover:border-slate-400/60 hover:shadow-xs focus:border-indigo-300 duration-300 bg-secondary-200/65   focus:bg-white;
  }

  .sendOTPForm__btn {
    @apply mt-5 text-[17px] text-secondary-0 py-[13px] cursor-pointer w-full  font-normal  duration-300 rounded-xl bg-blue-600 hover:bg-blue-700 shadow-md;
  }

  .checkOTPForm__btn {
    @apply mt-5  text-secondary-0 py-3.5 w-full  font-normal  duration-300 rounded-xl shadow-md;
  }

  .completeProfile__btn {
    @apply mt-12  text-secondary-0 py-3.5 w-full  font-normal  duration-300 rounded-xl  bg-blue-600 hover:bg-blue-700 cursor-pointer shadow-md;
  }

  .highlightText {
    @apply text-blue-500 hover:text-blue-600 cursor-pointer hover:underline font-medium;
  }

  .containerImage {
    @apply w-[450px];
  }

  .roleContainer {
    @apply mx-auto flex  justify-between items-center  mt-10 w-full;
  }

  .roleOption {
    @apply px-4 py-2 rounded-xl cursor-pointer duration-300  shadow-xs font-medium;
  }

  .pageTitle {
    @apply text-center font-semibold text-blue-900;
  }

  .backMainPage__btn {
    @apply px-3.5 py-2.5 font-normal text-blue-500 text-lg ring-1 ring-blue-500 rounded-xl mt-6 cursor-pointer duration-300 hover:text-secondary-0 hover:bg-blue-700;
  }

  .appLayout {
    @apply  grid grid-cols-1 xl:grid-cols-[320px_1fr] 2xl:grid-cols-[360px_1fr] grid-rows-[85px_1fr] w-full h-screen ;
  }

  .divider {
    @apply ring-1 ring-secondary-200;
  }

    .badge {
    @apply inline-block whitespace-nowrap rounded-xl px-2 py-0.5;
  }

  .badge--primary {
    @apply bg-primary-900 text-white;
  }

  .badge--secondary {
    @apply bg-secondary-200 text-secondary-600;
  }

  .badge--success {
    @apply bg-green-500 text-white;
  }
  
  .badge--danger {
    @apply bg-red-500 text-white;
  }

}

/* costum window scrol */
@layer base {
  body::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
  }

  body::-webkit-scrollbar-track {
    background: #ffffff;
    cursor: pointer;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #888685;
    cursor: pointer;
  }

  div::-webkit-scrollbar {
    width: 7px;
    height: 3px;
    cursor: pointer;
  }

  div.scrollbar-hovered ::-webkit-scrollbar {
    width: 12px;
  }

  div::-webkit-scrollbar-thumb:hover {
    width: 16px;
    /* Increase the size of the scrollbar */
    background-color: #555;
    /* Change color on hover */
  }

  div::-webkit-scrollbar-track {
    background: #e0d7d7;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  div::-webkit-scrollbar-thumb {
    background-color: #5a5f669c;
    border: 2px solid #efefef00;
    cursor: pointer;
  }
}
