@import "tailwindcss";

@plugin "@tailwindcss/forms";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* root colors - Light */
  --background-app-rgb: #ffffff;

  --color-primary-950: #2e52e6;
  --color-primary-900: #4a6dff;
  --color-primary-800: #5c7cff;
  --color-primary-700: #6e8aff;
  --color-primary-600: #8099ff;
  --color-primary-500: #92a7ff;
  --color-primary-400: #a4b6ff;
  --color-primary-300: #b7c5ff;
  --color-primary-200: #c9d3ff;
  --color-primary-100: #dbe2ff;
  --color-primary-50: #e4e9ff;

  --color-secondary-900: #111827;
  --color-secondary-800: #1f2937;
  --color-secondary-700: #374151;
  --color-secondary-600: #4b5563;
  --color-secondary-500: #6b7280;
  --color-secondary-400: #9ca3af;
  --color-secondary-300: #d1d5db;
  --color-secondary-200: #e5e7eb;
  --color-secondary-100: #f3f4f6;
  --color-secondary-50: #f9fafb;
  --color-secondary-0: #ffffff;

  /* dark colors */
  --color-dark-900: rgb(10, 12, 24);
  --color-dark-800: rgb(14, 18, 37);
  --color-dark-700: rgb(24, 30, 54);
  --color-dark-600: rgb(32, 38, 70);
  --color-dark-500: rgb(51, 60, 95);
  --color-dark-400: rgb(73, 85, 123);
  --color-dark-300: rgb(113, 126, 172);
  --color-dark-200: rgb(155, 167, 205);
  --color-dark-100: rgb(194, 202, 228);
  --color-dark-50: rgb(223, 228, 247);
  --color-dark-0: rgb(255, 255, 255);

  /* alert & state colors */
  --color-success: #00c073;
  --color-warning: #ff9900;
  --color-error: #ff4757;
  --color-red-500: #ef4444;
  --color-red-300: #fca5a5;

  /* breakpoints */
  /* --breakpoint-xl: 1280px; */
  --breakpoint-xg: 1135px;
  --breakpoint-vv: 970px;
  --breakpoint-gg: 885px;
  --breakpoint-xx: 770px;
  --breakpoint-nn: 580px;
  --breakpoint-ww: 480px;
  --breakpoint-uu: 385px;
  --breakpoint-mm: 350px;
  --breakpoint-ss: 290px;

  /* fonts */
  --font-vazir: "Vazirmatn";
  --font-inter: "Inter", "Vazirmatn";
}

@layer {
  .brandLogo__text {
    @apply flex items-center justify-center gap-x-1 text-center font-bold font-vazir   text-blue-600;
  }

  .numberInput {
    @apply w-full mm:py-[10px] xx:py-3 px-4 mm:text-[14px] xl:text-[15px]  rounded-xl font-normal font-inter  text-secondary-600 dark:text-secondary-200 outline-none border-[1px] focus:shadow-sm focus:shadow-primary-300 dark:focus:shadow-dark-800 border-transparent hover:border-slate-400/60 dark:hover:border-slate-800 hover:shadow-xs focus:border-indigo-300 dark:focus:border-indigo-700 duration-300 bg-secondary-200/65 dark:bg-dark-800  focus:bg-white dark:focus:bg-dark-800;
  }

  .filterSelect {
    @apply mm:py-1.5 ww:py-1.5 nn:py-2 gg:py-2 xg:py-2.5 xl:py-3 mm:px-4 ww:px-2 nn:px-3 xg:px-3.5 mm:text-[15px] ww:text-[14.5px] nn:text-[15px] xl:text-[15.5px] xl:px-4 rounded-xl font-normal font-inter  text-secondary-600 dark:text-secondary-200 w-full outline-none border-[1px] shadow-sm focus:shadow-md focus:shadow-primary-300 dark:focus:shadow-dark-700 border-transparent hover:border-slate-400/60 dark:hover:border-slate-800 hover:shadow-xs focus:border-indigo-300 dark:focus:border-indigo-700 duration-300 bg-secondary-0 dark:bg-dark-800  focus:bg-white dark:focus:bg-dark-900;
  }

  .sendOTPForm__btn {
    @apply mm:mt-3 xx:mt-4 mm:text-[15px] xx:text-[15.5px] text-secondary-0  mm:py-2.5 xx:py-[13px] cursor-pointer w-full  font-normal  duration-300 rounded-xl dark:bg-blue-700 dark:hover:bg-blue-800 bg-blue-600  hover:bg-blue-700 shadow-md;
  }

  .checkOTPForm__btn {
    @apply mm:mt-4 xx:mt-6  text-secondary-0 dark:text-secondary-100  mm:py-2.5 xx:py-[12px] mm:text-[15px] xx:text-[15.5px]  w-full  font-normal  duration-300 rounded-xl shadow-md;
  }

  .completeProfile__btn {
    @apply mt-12  text-secondary-0 dark:text-secondary-200 mm:text-[15px] xx:text-[15.5px] mm:py-2.5 xx:py-[13px] w-full  font-normal  duration-300 rounded-xl  bg-blue-600 hover:bg-blue-700 cursor-pointer shadow-md;
  }

  .highlightText {
    @apply text-blue-500 hover:text-blue-600 cursor-pointer hover:underline font-medium;
  }

  .containerImage {
    @apply w-[450px];
  }

  .roleContainer {
    @apply mx-auto flex  justify-between items-center  mt-10 w-full;
  }

  .roleOption {
    @apply px-4 py-2 rounded-xl cursor-pointer duration-300  shadow-xs font-medium;
  }

  .pageTitle {
    @apply text-center font-semibold text-blue-900 dark:text-blue-700;
  }

  .backMainPage__btn {
    @apply mm:px-2 ww:px-2.5 mm:py-2 xx:px-3.5 xx:py-2.5 font-normal text-blue-500 ww:text-[15px] xx:text-[16px] ring-1 ring-blue-500 rounded-xl mt-6 cursor-pointer duration-300 hover:text-secondary-0 hover:bg-blue-700;
  }

  .appLayout {
    @apply grid grid-cols-1 xl:grid-cols-[320px_1fr] 2xl:grid-cols-[360px_1fr] grid-rows-[85px_1fr] w-full h-screen;
  }

  .divider {
    @apply block w-85/100 h-[2px] bg-secondary-200 dark:bg-dark-600;
  }

  .badge {
    @apply inline-block whitespace-nowrap rounded-xl px-2 py-0.5;
  }

  .badge--primary {
    @apply bg-primary-900 text-white;
  }

  .badge--secondary {
    @apply bg-secondary-200 text-secondary-600 dark:bg-secondary-800 dark:text-secondary-200;
  }

  .badge--success {
    @apply bg-green-500 text-white;
  }

  .badge--danger {
    @apply bg-red-500 text-white;
  }

  table td,
  table th {
    @apply gg:p-[1rem] mm:p-[0.9rem] border-b border-[var(--color-secondary-200)] dark:border-[var(--color-secondary-800)];
  }

  .title-row {
    @apply bg-[var(--color-secondary-200)] dark:bg-[#0e101d];
  }

  table th {
    @apply  mm:text-[0.88rem] gg:text-[0.93rem] text-secondary-900 dark:text-secondary-100;
  }

  table td {
    @apply mm:text-[0.8rem] gg:text-[0.86rem] text-secondary-600 dark:text-secondary-300 bg-secondary-0 dark:bg-[#0c0f18] text-center;
  }

  .headerMenu_item {
    @apply ww:text-[15px] xx:text-[clamp(0.7rem,2vw,1rem)] duration-300  font-light;
  }

  .login_btn {
    @apply font-medium ww:text-[14px] xx:text-[clamp(0.7rem,2vw,1rem)] flex items-center justify-center xg:gap-x-2 xl:gap-x-2.5 bg-blue-600  text-secondary-0 rounded-xl cursor-pointer hover:bg-blue-700 mm:p-[8px] ww:py-2.5 ww:px-3 xg:h-12 xx:h-11 ww:h-10 xx:px-3.5 xg:px-4 hover:shadow-md duration-300 dark:bg-blue-700 dark:hover:bg-blue-800;
  }

  .dashboard_btn {
    @apply hover:bg-secondary-100 duration-200 hover:ring-1 rounded-2xl ring-secondary-300 text-secondary-700 dark:text-secondary-200 cursor-pointer xg:p-2 mm:p-[7px] hover:shadow-md shadow-sm shadow-secondary-300  dark:shadow-secondary-800 dark:bg-dark-800 dark:hover:bg-dark-900 dark:ring-dark-700;
  }

  .userDetails_btn {
    @apply font-normal ww:text-[14px] xx:text-[clamp(0.5rem,2vw,1rem)]  flex items-center justify-center xl:gap-x-2  xx:gap-x-2 ww:gap-x-2 mm:bg-transparent ww:ww:bg-blue-600  text-secondary-0 rounded-xl cursor-pointer hover:ww:bg-blue-700 mm:p-[8px] ww:py-2.5 ww:px-3 xx:py-2.5 xx:px-3.5 xg:py-2.5 xg:px-4 hover:shadow-md duration-300 dark:mm:bg-transparent dark:ww:bg-blue-700/90 dark:ww:hover:bg-blue-800/90;
  }

  .cta_btn {
    @apply xx:mb-1 mm:mb-2 xg:w-auto mm:w-full ww:px-12  xg:px-14  ww:py-2.5 mm:py-2  xg:py-3  font-semibold mm:mt-6 ww:mt-8 xg:mt-3 rounded-xl text-white cursor-pointer  mm:text-[15px] xx:text-[clamp(0.7rem,2vw,1rem)] flex items-center justify-center bg-gradient-to-tl from-blue-600 to-indigo-600 gap-x-3 hover:bg-gradient-to-br hover:from-indigo-600 hover:to-indigo-600 duration-100 shadow-sm shadow-indigo-500 hover:shadow-md hover:shadow-indigo-300 dark:hover:shadow-indigo-900;
  }

  .menuItem_text {
    @apply mm:text-[15px] gg:text-base;
  }
}

/* costum window scrol */
@layer base {
  body::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
  }

  body::-webkit-scrollbar-track {
    background: #ffffff;
    cursor: pointer;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #888685;
    cursor: pointer;
  }

  div::-webkit-scrollbar {
    width: 7px;
    height: 3px;
    cursor: pointer;
  }

  div.scrollbar-hovered ::-webkit-scrollbar {
    width: 12px;
  }

  div::-webkit-scrollbar-thumb:hover {
    width: 16px;
    /* Increase the size of the scrollbar */
    background-color: #555;
    /* Change color on hover */
  }

  div::-webkit-scrollbar-track {
    background: #e0d7d7;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  div::-webkit-scrollbar-thumb {
    background-color: #5a5f669c;
    border: 2px solid #efefef00;
    cursor: pointer;
  }
}
